<div class="logo-container">
  <div class="row">
    <div class="col text-center"  >

      <img class="img2-width" src="../../../assets/img/logo_main.png">

    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-center">

        <strong>Verifying device...</strong>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="text-center">
      <div class="spinner-border" role="status">

        <span class="visually-hidden">Loading...</span>

      </div>
    </div>
  </div>
</div>
