<div class="login-container">

  <div class="row">

    <div class="col text-center"  >
      <img class="img-width" src="../../../assets/img/logo_header.png">

    </div>

  </div>

  <div class="row">
    <div class="col-md-4 text-center">

    </div>

    <div class="col-md-4 text-center">

      <br><br>
      <div class="card text-center">
        <div class="card-body">

          <form   #formLogin="ngForm"
                  (ngSubmit)="login(formLogin)">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input
                    type="email"
                    class="form-control"
                    aria-describedby="emailHelp"
                    required
                    placeholder="Email"
                    name="email"
                    ngModel
                    #correo="ngModel"
                    [class.is-invalid]="correo.invalid && correo.touched"
                    (keyup)="writting()"
                    >
                    <div class="alert alert-danger" role="alert"
                      *ngIf="emailErr  && !formLogin.controls['email'].pristine">
                        {{ emailErr }}
                    </div>
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    required
                    placeholder="Password"
                    name="password"
                    ngModel
                    #pass="ngModel"
                    [class.is-invalid]="pass.invalid && pass.touched"
                    >
                    <div class="alert alert-danger" role="alert" *ngIf="passwordErr && !formLogin.controls['password'].pristine">
                      {{ passwordErr }}
                     </div>
            </div>
            <!-- <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button
                type="submit"
                class="btn btn-primary"
                [disabled]="formLogin.invalid"
                >
                Login
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
