<div class="container-fluid btn-container">

  <div class="row">

    <div class="col text-center"  >

      <img class="img-width" src="../../../assets/img/logo_header.png">

    </div>

    </div>

    <br><br>

    <div class="row">

      <div class="col-3">

        <app-ui-status></app-ui-status>

      </div>

      <div class="col-6">

        <app-dashboard></app-dashboard>

      </div>

    </div>

    <footer class="footer text-center">
      © 2022 Adriano Engineering
  </footer>
  </div>
