<div class="row">
  <div class="col-12">
    <br>
      <div class="card" *ngIf="!loading">
          <div class="card-body">

            <h4 class="card-title" *ngIf="modifyUser">Modify</h4>
            <h4 class="card-title" *ngIf="!modifyUser">Add</h4>
            <h6 class="card-subtitle">Data user</h6>
            <hr>

            <form [formGroup]="userForm" (submit)="save()">

              <div class="mb-3">
                <label  class="form-label">Name</label>
                <input
                    class="form-control"
                    type="text"
                    placeholder="username"
                    formControlName="name"
                    required
                    [class.is-invalid]="userForm.controls['name'].invalid && userForm.controls['name'].touched"
                    >
                  <div class="alert alert-danger" role="alert" *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched">
                    ¡El nombre es obligatorio!
                  </div>
              </div>
              <div class="mb-3">
                <label  class="form-label">Email address</label>
                <input
                    type="email"
                    class="form-control"
                    placeholder="name@example.com"
                    formControlName="email"
                    required
                    [class.is-invalid]="userForm.controls['email'].invalid && userForm.controls['email'].touched"
                    >
                  <div class="alert alert-danger" role="alert" *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
                      ¡Ingrese un email válido!
                  </div>
              </div>

              <div class="mb-3">
                <label  class="form-label">Department</label>
                <select
                    class="form-select form-select mb-3"
                    aria-label=".form-select-lg example"
                    formControlName="department">
                  <option value="RH">Recursos Humanos</option>
                  <option value="MANTTO">Mantenimiento</option>
                  <option value="DEP1">Depto 1</option>
                  <option value="DEP2">Depto 2</option>
                </select>
              </div>

              <div class="mb-3">
                <label  class="form-label">Role</label>
                <select
                  class="form-select form-select mb-3"
                  aria-label=".form-select-lg example"
                  formControlName="role">
                  <option value="ADMIN_ROLE">Admin</option>
                  <option value="USER_ROLE">User</option>
                </select>
              </div>
              <div class="mb-3">

                <button
                  type="submit"
                  class="btn btn-outline-primary"
                  >
                  Save
                </button>
                <button type="button" class="btn btn-outline-primary" routerLink="/dashboard/users">Cancel</button>
              </div>

            </form>


          </div>
      </div>
  </div>
</div>
