<div class="login-container">

  <div class="row">

    <div class="col text-center"  >
      <img class="img-width" src="../../../assets/img/logo_header.png">

    </div>

  </div>

  <div class="row">
    <div class="col text-center">

    </div>

    <div class="col-md-6 text-center">

      <br><br>
      <div class="card text-center">
        <div class="card-body">

          <img clas src="../../../assets/img/pageNotFound.jpg">
          <br>

          <a routerLink="/dashboard">Back to Dashboard</a>

        </div>
      </div>
    </div>

    <div class="col text-center">

    </div>
  </div>
</div>
